.imgAboutUs{
  max-width: 680px;
}

.imgWhoWeAre{
  max-width: 1100px;
}

.imgContact{
  max-width: 600px;
}

.space {
  height: 50px;
}

.contentStyle {
  height: 400px;
  color: #fff;
  line-height: 160px;
  text-align: center;
  background: #364d79;
}